{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default -page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<section class="tw-skewed-bottom-right tw-h-full">
  <nav class="tw-relative tw-px-2 md:tw-px-5 lg:tw-px-6 tw-py-2 md:tw-py-5 lg:tw-py-6 tw-flex tw-justify-between tw-items-center
    tw-bg-white-50 tw-shadow-lg">


    {# este es el logo #}
    {% if page.header_logo %}
    <a class="tw-text-3xl tw-font-bold tw-leading-none" href="/drupal9/recommended-project/web/">
      {{ page.header_logo }}
    </a>
    {% endif %}


    {# hamburger icon #}
    <div class="tw-hidden lg:tw-hidden">
      <button class="tw-navbar-burger tw-flex tw-items-center tw-text-gray-400 tw-p-3">
        <svg class="tw-block tw-h-4 tw-w-4 tw-fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>


      {# este es el menu #}
    {% if page.header_menu %}
    <ul class="tw-hidden tw-top-1/2 tw-left-1/2 tw-transform tw--translate-y-50% lg:tw-flex lg:tw-mx-auto lg:tw-flex lg:tw-items-center lg:tw-w-auto lg:tw-space-x-6 tw--translate-x-50%">
      {{ page.header_menu }}
    </ul>
    {% endif %}


      {# Estos son los accesos #}
    {% if page.header_accesos %}
    {{ page.header_accesos }}
    {% endif %}

  </nav>




    {# Este es el contenido #}
  <div class="tw-bg-gray-50 tw-pt-12 tw-pb-20 radius-for-skewed tw-m-0">
    {% if page.content %}
    <div class="tw-container lg:tw-ml-40">
      {{ page.content }}
    </div>
    {% endif %}

  </div>
    <div class="tw-hidden tw-navbar-menu tw-relative z-50">
    <div class="tw-navbar-backdrop fixed inset-0 tw-bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 tw-flex tw-flex-col tw-w-5/6 max-w-sm tw-py-6 tw-px-6 tw-bg-white border-r overflow-y-auto">
      <div class="tw-flex tw-items-center tw-mb-8">
        <a class="tw-mr-auto tw-text-3xl tw-font-bold tw-leading-none" href="#">
          <img class="tw-h-10" src="atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto">
        </a>
        <button class="tw-navbar-close">
          <svg class="tw-h-6 tw-w-6 tw-text-gray-400 cursor-pointer hover:tw-text-gray-500" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1"><a class="block tw-p-4 tw-text-sm tw-font-semibold tw-text-gray-400 hover:tw-bg-green-50 hover:tw-text-green-600
            rounded" href="#">Start</a></li>
          <li class="mb-1"><a class="block tw-p-4 tw-text-sm tw-font-semibold tw-text-gray-400 hover:tw-bg-green-50 hover:tw-text-green-600
            rounded" href="#">About Us</a></li>
          <li class="mb-1"><a class="block tw-p-4 tw-text-sm tw-font-semibold tw-text-gray-400 hover:tw-bg-green-50 hover:tw-text-green-600
            rounded" href="#">Services</a></li>
          <li class="mb-1"><a class="block tw-p-4 tw-text-sm tw-font-semibold tw-text-gray-400 hover:tw-bg-green-50 hover:tw-text-green-600
            rounded" href="#">Platform</a></li>
          <li class="mb-1"><a class="block tw-p-4 tw-text-sm tw-font-semibold tw-text-gray-400 hover:tw-bg-green-50 hover:tw-text-green-600
            rounded" href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="mt-auto">
        <div class="tw-pt-6">
          <a class="block tw-px-4 tw-py-3 tw-mb-3 tw-leading-loose tw-text-xs tw-text-center tw-font-semibold
           tw-leading-none tw-bg-gray-50 hover:tw-bg-gray-100 tw-rounded-l-xl tw-rounded-t-xl" href="#">Sign In</a>
          <a class="block tw-px-4 tw-py-3 tw-mb-2 tw-leading-loose tw-text-xs tw-text-center tw-text-white tw-font-semibold
           tw-bg-green-600 hover:tw-bg-green-700 tw-rounded-l-xl tw-rounded-t-xl" href="#">Sign Up</a>
        </div>
        <p class="tw-my-4 tw-text-xs tw-text-center tw-text-gray-400">
            <span>© 2021 All rights reserved.</span>
        </p>
        <a class="tw-inline-block tw-px-1" href="#"> <img src="atis-assets/social/facebook.svg" alt=""> </a>
        <a class="tw-inline-block tw-px-1" href="#"> <img src="atis-assets/social/twitter.svg" alt=""> </a>
        <a class="tw-inline-block tw-px-1" href="#"> <img src="atis-assets/social/instagram.svg" alt=""> </a>
      </div>
    </nav>
  </div>
       {% if page.header_footer %}
        {{ page.footer }}
        {% endif %}
</section>







